@tailwind base;

@tailwind components;

@tailwind utilities; 


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './lib/nprogress';

@import './_variables';
@import './components/authnav';

input:invalid {
    box-shadow: none;
}

body {
    font-family: Poppins, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: relative; 
}


/* 1024 -1 so it doesnt show when it hits 1024px */
@media only screen and (max-width: 1023px) {
    .overlay:after {
        content: " ";
        z-index: 29;
        display: block;
        height: 100%;
        top: 80px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        position: fixed;
    }
}

.md-input-box {
	@apply relative;
  	position: relative;
}
.md-input {
	@apply w-full;
  	width: 100%;
	outline: none;
	height: 50px;
}
.md-label {
	@apply absolute pointer-events-none block;
  	display: block;
  	position: absolute;
  	pointer-events: none;
	transform-origin: top left;
	transform: translate(0, -40px) scale(1);
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.md-label-focus {
	// @apply text-blue;
	color: #3182ce;
	transform: translate(0, -65px) scale(0.75);
	transform-origin: top left;
}
.md-input-underline {
	border-bottom: 1px solid #718096;;
}
.md-input-underline:after {
	@apply absolute left-0 right-0 pointer-events-none;
  	position: absolute;
  	left: 0;
  	right: 0;
  	pointer-events: none;
	bottom: -0.05rem;
	content: "";
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform: scaleX(0);
	border-bottom: 2px solid #3182ce;
}
.md-input:focus ~ .md-input-underline:after {
	transform: scaleX(1);
}
.md-input:focus + .md-label, .md-input:not(:placeholder-shown) + .md-label {
  	@apply md-label-focus;
	color: #3182ce;
	transform: translate(0, -65px) scale(0.75);
	transform-origin: top left;
}